@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 768px) { @content; }
}
@mixin for-big-tablet-up {
  @media (max-width: 991px) { @content; }
}
@mixin for-desktop-up {
  @media (max-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (max-width: 1800px) { @content; }
}

@mixin transition($property: all, $timing-function: ease-in-out, $duration: 200ms,) {
  transition: $property $timing-function $duration ;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin font-heavy {
  font-family: 'avenirheavy';
}
@mixin font-black {
  font-family: 'avenirblack';
}
@mixin box-shadow {
  box-shadow: 0 3px 5px rgba(32, 32, 32, 25%);
}
