@import './fonts.css';
body {
  font-family: "avenirbook";
  background-color: #ffffff;
  color: #424040;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
p {
  margin: 0 0 15px;
  font-size: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h2 {
  font-size: 3.77vw;
  font-family: "avenirblack";
  line-height: 4.52vw;
  text-transform: uppercase;
}

h3 {
  font-size: 1.938rem;
  font-family: "avenirheavy";
  line-height: 2.2rem;
  color: #E9222B;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.313rem;
  margin-bottom: 1rem;
  font-family: "avenirheavy";
}

h4 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  line-height: 1.22em;
  font-family: "avenirblack";
}

a {
  color: #424040;
}

.btn {
  display: inline-flex;
  text-decoration: none;
  background-color: #E9222B;
  line-height: 1em;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.65rem;
  color: #ffffff;
  border-radius: 30px;
  font-family: "avenirbook";
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.btn:hover {
  background-color: #d31720;
  box-shadow: 0 3px 5px rgba(32, 32, 32, 0.25);
}

.uppercase {
  text-transform: uppercase;
}

.base-color {
  color: #424040;
}

.font-heavy {
  font-family: "avenirblack";
}

.font-normal {
  font-family: "avenirbook";
}

.highlight {
  color: #E9222B;
  font-family: "avenirheavy";
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 60px;
  margin: auto;
}

.flex-column {
  flex-direction: column !important;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

strong {
  font-family: "avenirblack";
}

.pl-0 {
  padding-left: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.w-full {
  width: 100% !important;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
nav .logo img {
  max-width: 315px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1.45rem;
  align-items: center;
}
nav ul li.active a {
  color: #E9222B;
  font-family: "avenirblack";
}
nav ul li a {
  text-decoration: none;
  padding: 0.25rem;
  display: block;
}
nav ul li a:hover {
  color: #E9222B;
  transition: all ease-in-out 200ms;
}
nav ul li:last-child a {
  background-color: #E9222B;
  color: #ffffff;
  padding: 0.625rem 1.15rem;
  border-radius: 30px;
  transition: all ease-in-out 200ms;
}
nav ul li:last-child a:hover {
  background-color: #d31720;
  box-shadow: 0 3px 5px rgba(32, 32, 32, 0.25);
}

.heading {
  position: relative;
}

.heading-border-left {
  margin-bottom: 3rem;
  padding: 5px 0 0 30px;
}
.heading-border-left::before {
  position: absolute;
  top: 4px;
  left: 0;
  content: "";
  width: 8px;
  height: 4vw;
  background-color: #E9222B;
}

.heading-border-bottom {
  padding-bottom: 1.15rem;
  margin-bottom: 3rem;
}
.heading-border-bottom::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  content: "";
  width: 65px;
  height: 8px;
  background-color: #E9222B;
}

ul {
  padding: 1rem;
}

section {
  position: relative;
  margin: 5.625rem 0;
}
section ul {
  font-family: "avenirheavy";
  margin-bottom: 1rem;
}
section ul li {
  line-height: 1.78rem;
}

.flex-2-set {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  align-items: flex-start;
  width: 100%;
}
.flex-2-set.gap-0 {
  gap: 0;
}

.description {
  flex: 1;
}

.personality-program-section {
  padding-top: 1.75rem;
}

.our-clients-container {
  padding-top: 3rem;
}

.glide__arrow {
  color: #ffffff;
  cursor: pointer !important;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.glide img {
  cursor: default !important;
  width: 100%;
}

.slick-slider .slick-dots {
  bottom: 40px;
}

.slick-dots li button:before {
  font-size: 18px;
  color: #ffffff;
  opacity: 0.45 !important;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #E9222B;
  opacity: 0.75 !important;
}

.img-shadow-red,
.img-shadow-black {
  position: relative;
}
.img-shadow-red:after,
.img-shadow-black:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: -4%;
  height: 109%;
  background-color: #E9222B;
  width: 88%;
  z-index: -1;
  border-radius: 10px;
}
.img-shadow-red img,
.img-shadow-black img {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.img-shadow-black:after {
  background-color: #424040;
  right: auto;
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.img-shadow-black img {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#personality-program-slider {
  overflow: hidden;
  width: 100%; /* Adjust as needed */
  position: relative;
}
#personality-program-slider img {
  position: relative;
  display: none;
  max-width: 547px;
}
#personality-program-slider img:first-child {
  display: block;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.tab-menu {
  display: flex;
}
.tab-menu button {
  cursor: pointer;
}

.program-categories-section {
  background-color: #F2F2F2;
  z-index: 1;
}
.program-categories-section::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  z-index: -1;
}
.program-categories-section .program-description-container {
  flex: 1;
  padding: 2.5rem 0 1.5rem 0;
}
.program-categories-section .program-desc-wrapper {
  box-shadow: 0 4px 10px 1px rgba(32, 32, 32, 0.2);
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 2.3rem;
  overflow: hidden;
}
.program-categories-section .program-tab-container {
  padding: 0 1.25rem 0 4rem;
}

.cta-inquire-button {
  margin-bottom: 2.5rem;
  padding-right: 2rem;
}

.aside-tab-menu {
  background-color: #424040;
  height: 100%;
  border-radius: 10px;
  padding: 2rem;
  width: 340px;
}
.aside-tab-menu h3 {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 1.35rem;
  padding-bottom: 1rem;
}
.aside-tab-menu .tab-menu button {
  border: none;
  background-color: transparent;
  outline: none;
  text-align: left;
  color: #ffffff;
  padding: 0 1.45rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 68px;
  align-items: center;
  position: relative;
  z-index: 1;
}
.aside-tab-menu .tab-menu button.active::after {
  position: absolute;
  display: block;
  content: "";
  width: calc(100% + 57px);
  height: 100%;
  top: 0;
  left: 0;
  background-color: #E9222B;
  z-index: -1;
  box-shadow: 0 3px 5px rgba(32, 32, 32, 0.25);
  border-radius: 4px;
}
.aside-tab-menu .tab-menu button.active h5 {
  font-family: "avenirheavy";
}
.aside-tab-menu .tab-menu button h5 {
  margin: 0;
  font-family: "avenirbook";
}
.aside-tab-menu .tab-menu-list {
  display: flex;
  flex-direction: column;
}

.two-col-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.customer-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.customer-slider .slider-list {
  display: flex;
  transition: transform 0.5s ease;
  list-style: none;
  padding: 0;
  margin: 0;
}
.customer-slider .slider-item {
  flex: 1 0 33.3333%; /* 100% / 3 images */
  overflow: hidden;
}
.customer-slider .slider-item img {
  width: 100%;
  display: block;
  transition: all ease-in-out 200ms;
}
.customer-slider .slider-item img:hover {
  opacity: 0.75;
  transform: scale(1.1);
}

.english-learning-section {
  padding-top: 120px;
}
.english-learning-section::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 33%;
  background-color: #f2f2f2;
  z-index: -1;
}

.corporate-carousel img {
  border-radius: 10px;
}

.client-logos-wrapper {
  position: relative;
  display: block;
}
.client-logos-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem 1rem;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.client-logos-wrapper ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ededed;
  min-width: 223px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
}
.client-logos-wrapper ul li img {
  max-width: 180px;
}

.z-1 {
  z-index: 1;
}

.customized-workshops-section {
  background-color: #F2F2F2;
  padding-top: 5.625rem;
}

.english-learning-desc {
  position: relative;
}
.english-learning-desc::before {
  position: absolute;
  z-index: -1;
  background-color: #ffffff;
  top: -20px;
  left: -50%;
  width: 200%;
  height: 100%;
  content: "";
}

.customized-program-list {
  margin-left: -60px;
  margin-right: -60px;
  display: flex;
}

.customized-program-list figure {
  position: relative;
  overflow: hidden;
}
.customized-program-list figure:hover figcaption {
  color: #ffffff;
  height: 100%;
}
.customized-program-list figure:hover figcaption .description-workshop {
  transform: translateY(0);
  opacity: 1;
}
.customized-program-list figure:hover figcaption::after {
  transform: scale(1);
  opacity: 1;
}
.customized-program-list figure:hover figcaption::before {
  width: 0;
}
.customized-program-list figure:hover img {
  transform: scale(1.1);
}
.customized-program-list img {
  transition: all ease-in-out 200ms;
}
.customized-program-list figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 141px;
  color: #424040;
  padding: 1.75rem;
  z-index: 1;
  overflow: hidden;
  transition: all ease-in-out 400ms;
}
.customized-program-list figcaption::after {
  background-color: rgba(233, 34, 43, 0.75);
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(0.2);
  transform-origin: left bottom;
  transition: all linear 400ms;
  opacity: 0;
}
.customized-program-list figcaption::before {
  background-color: rgba(255, 255, 255, 0.65);
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 141px;
  z-index: -1;
  transition: all linear 300ms;
}
.customized-program-list figcaption h4 {
  font-family: "avenirblack";
}
.customized-program-list figcaption .description-workshop {
  position: absolute;
  padding-right: 1rem;
  transform: translateY(30%);
  transition: all ease-in-out 200ms;
  opacity: 0;
  transition-delay: 150ms;
}
.customized-program-list figcaption .description-workshop p {
  color: #ffffff;
}
.customized-program-list .btn {
  border: 1px solid #ffffff;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.custom-checkbox input[type=radio] {
  display: none;
}
.custom-checkbox input[type=radio] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: #E9222B;
  font-weight: normal;
}
.custom-checkbox input[type=radio] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  border: 4px solid #E9222B;
  border-radius: 50%;
  background: white;
}
.custom-checkbox input[type=radio]:checked + label:before {
  background: #E9222B;
}
.custom-checkbox input[type=radio]:checked + label {
  font-weight: bold;
  text-decoration: underline;
}
.custom-checkbox input[type=radio]:checked + label:after {
  content: "";
  position: absolute;
  left: 7.5px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.custom-checkbox label {
  margin-right: 25px;
}

.input-field {
  flex: 1;
  margin-bottom: 1.3rem;
}
.input-field input, .input-field select, .input-field textarea {
  width: 100%;
  padding: 10px 1rem;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  font-size: 16px;
  font-family: "avenir_regularregular";
  height: 48px;
}
.input-field input::-moz-placeholder, .input-field textarea::-moz-placeholder {
  color: #666;
}
.input-field input::placeholder, .input-field select, .input-field textarea::placeholder {
  color: #666;
}
.input-field textarea {
  resize: vertical;
  min-height: 170px;
}

.book-appointment-section {
  padding: 90px 0;
  background-color: #E9222B;
}
.book-appointment-section .flex-2-set {
  gap: 1rem;
}
.book-appointment-section .jrp-contact-form {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3.2rem;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  position: relative;
}
.book-appointment-section .jrp-form-wrapper {
  flex: 1;
}
.book-appointment-section .jrp-form-wrapper h2 {
  font-size: 42px;
  text-transform: none;
}
.book-appointment-section .jrp-social-media {
  width: 100%;
  max-width: 350px;
  padding-left: 20px;
  margin-left: 20px;
}
.book-appointment-section .jrp-social-media ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.book-appointment-section .jrp-social-media ul.social-media li {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #F2F2F2;
}
.book-appointment-section .jrp-social-media ul.social-media li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.55rem;
  font-family: "avenirblack";
  font-size: 1rem;
  text-decoration: none;
}

#contact-us-section {
  background-color: #ffffff;
  margin-top: 0;
  padding-top: 70px;
}
#contact-us-section .text-right {
  text-align: center;
}

.gallery {
  margin: 0 auto;
  width: 100%;
  display: flex;
}
.gallery .tab-menu-container {
  flex: 1;
  max-height: 630px;
  overflow-y: auto;
}

.masonry-grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: calc(33.333% - 10px);
  margin: 5px;
  overflow: hidden;
}
.grid-item img {
  width: 100%;
  display: block;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.grid-item img:hover {
  transform: scale(1.1);
}

.tab-content {
  display: none;
}
.tab-content.active-tab {
  display: block;
}

.workshop-menu-list {
  list-style: none;
  padding: 0;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 0.75rem;
}
.workshop-menu-list li {
  display: block;
}
.workshop-menu-list li a {
  text-decoration: none;
  font-size: 18px;
  display: block;
  font-family: "avenir_regularregular";
}
.workshop-menu-list li a.active-nav {
  color: #E9222B;
  font-family: "avenirblack";
}

.testimonial-carousel-section {
  background-color: #F2F2F2;
  padding: 90px 0;
}
.testimonial-carousel-section ul.slick-dots {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 25px;
}
.testimonial-carousel-section ul.slick-dots .slick-active button {
  background-color: #b5b5b5;
}
.testimonial-carousel-section ul.slick-dots button {
  padding: 0;
  border: none;
  font-size: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 30px;
  background-color: #dfdfdf;
  cursor: pointer;
}
.testimonial-carousel-section .container {
  display: block;
}
.testimonial-carousel-section .testimonial-content {
  background-color: #ffffff;
  padding: 3rem;
  margin: 0 1rem;
  border-radius: 10px;
}
.testimonial-carousel-section .testimonial-content h3 {
  font-family: "avenirblack";
  color: #424040;
  line-height: 2.35rem;
}
.testimonial-carousel-section .testimonial-content h5 {
  margin-bottom: 0;
  font-family: "avenirbook";
}
.testimonial-carousel-section .testimonial-content .testimonial-detail {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}

.cta-testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem;
  background-color: #E9222B;
  border-radius: 8px;
  color: #ffffff;
  width: 76%;
  margin: auto;
  margin-top: 6.5rem;
}
.cta-testimonial h3 {
  line-height: 3.5rem;
  color: #ffffff;
  font-family: "avenirblack";
  margin-bottom: 0;
}
.cta-testimonial .btn {
  border: 1px solid #ffffff;
  background-color: #d31720;
}

.h2-reset {
  font-size: 42px;
  text-transform: none;
}

#jrp-contact-branches {
  background-color: #E9222B;
  color: #ffffff;
  position: relative;
  z-index: 1;
  margin-left: 40px;
}
#jrp-contact-branches::before {
  position: absolute;
  display: block;
  content: "";
  width: 120%;
  height: 130%;
  top: -20%;
  left: 0;
  background-color: #E9222B;
  z-index: -1;
}
#jrp-contact-branches h3 {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0.45rem;
}
#jrp-contact-branches h5 {
  padding-top: 1rem;
  margin-bottom: 0.765rem;
}

.branches {
  gap: 0.85rem;
}
.branches li, .branches a {
  display: flex;
  flex-direction: row;
  align-items: start;
  line-height: 1.3em;
  gap: 0.49rem;
  transition: all ease-in-out 200ms;
}
.branches li:hover, .branches a:hover {
  opacity: 0.85;
}
.branches a {
  color: #ffffff;
  text-decoration: none;
}

.contact-us-hero-banner {
  padding-top: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.card-container .card {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #E1E4ED;
  box-shadow: 0px 4px 6px rgba(70, 70, 70, 0.1);
  overflow: hidden;
  display: flex;
  text-decoration: none;
  transition: all ease-in-out 200ms;
}
.card-container .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-container .card:first-child {
  grid-column: 1/2;
  grid-row: 1/4;
  flex-direction: column;
}
.card-container .card:first-child .news-description {
  flex: 1;
  padding: 1rem 1.2rem;
}
.card-container .card:first-child .news-description h5 {
  margin-bottom: 0.45rem;
  font-family: "avenirblack";
}
.card-container .card:hover {
  color: #E9222B;
}
.card-container .card:not(:first-child) .news-photo {
  max-width: 285px;
}
.card-container .card:not(:first-child) .news-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.card-container .card:not(:first-child) .news-description div {
  margin-top: auto;
  margin-bottom: auto;
}
.card-container .card:not(:first-child) .news-description div p {
  margin-bottom: 0;
  font-family: "avenirblack";
}
.card-container .card:not(:first-child) .news-description div span {
  font-size: 13px;
}

.news-subheading {
  width: 80%;
  margin-bottom: 2.5rem;
}

#single-news-details #press-and-events-details {
  padding-right: 2rem;
  max-width: 330px;
}

.card-press-and-events-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
.card-press-and-events-list .card-press-and-events-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(70, 70, 70, 0.1);
  text-decoration: none;
  transition: all ease-in-out 200ms;
}
.card-press-and-events-list .card-press-and-events-item:hover {
  transform: translateY(-8px);
}
.card-press-and-events-list .press-and-events-desc {
  padding: 1rem 1.5rem;
  height: 100%;
  background: #ffffff;
}
.card-press-and-events-list .press-and-events-desc p {
  font-family: "avenirheavy";
  margin-bottom: 0.75rem;
}

:root {
  --column-count: 12;
  --gutter-cap: 64px;
  --gutter-x: 32px;
  --gutter-y: 32px;
  --spacer-micro: 12px;
  --spacer-small: 24px;
  --spacer-medium: 48px;
  --spacer-large: 96px;
  --spacer-huge: 192px;
}

.meet-the-ceo-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meet-the-ceo-details,
.meet-the-ceo-profile {
  width: calc(50% - var(--gutter-x) * 0.5);
  aspect-ratio: 1/1;
  position: relative;
}

.meet-the-ceo-profile img {
  margin: auto;
  display: block;
  height: auto;
  max-height: calc(100% - var(--spacer-medium) * 1);
  max-width: calc(100% - var(--spacer-medium) * 1);
  position: relative;
  width: auto;
}

.ceo-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
.ceo-detail h5 {
  margin-bottom: 0;
  font-family: "avenirblack";
}
.ceo-detail span {
  font-style: italic;
}

.message-from-the-ceo-details,
.message-from-the-ceo-map {
  width: calc(50% - var(--gutter-x) * 0.5);
  aspect-ratio: 1/1;
  position: relative;
}

.message-from-the-ceo-section {
  background-color: #E9222B;
}
.message-from-the-ceo-section .flex-2-set {
  gap: 2rem;
}

.message-from-the-ceo-details {
  width: calc(50% - var(--gutter-x) * 0.5);
  background-color: #ffffff;
  padding: 3.5rem 2.5rem;
}
.message-from-the-ceo-details p {
  font-style: italic;
}
.message-from-the-ceo-details .heading-border-left {
  margin-bottom: 1.45rem;
  padding: 5px 0 0 25px;
}
.message-from-the-ceo-details .heading-border-left::before {
  height: 2.56vw;
}
.message-from-the-ceo-details h2 {
  font-size: 2.27vw;
  line-height: 2.52vw;
}

.message-from-the-ceo-map img {
  margin: auto;
  display: block;
  height: auto;
  left: 50%;
  max-height: calc(100% - var(--spacer-medium) * 1);
  max-width: calc(100% - var(--spacer-medium) * 1);
  position: absolute;
  top: 59%;
  transform: translate(-50%, -50%);
  width: auto;
}
.message-from-the-ceo-map h3 {
  color: #ffffff;
  font-family: "avenirblack";
  text-align: center;
  margin-top: 3.5rem;
}

footer {
  background-color: #424040;
  color: #ffffff;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer .footer-container {
  gap: 1rem;
  padding: 4.5rem 1.75rem;
  display: flex;
  justify-content: space-between;
}
footer .footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
footer .footer-container ul:not(.social-media-footer) {
  flex-direction: column;
  gap: 1rem;
}

.branch-list-footer strong {
  display: block;
  margin-bottom: 1rem;
}

.social-media-footer {
  justify-content: center;
  gap: 1rem;
}
.social-media-footer img {
  max-width: 35px;
}

.is-desktop {
  display: block;
}

.is-mobile {
  display: none;
}

@media (max-width: 1200px) {
  nav .logo img {
    max-width: 235px;
  }
  .container {
    padding: 0 30px !important;
  }
  #personality-program-slider img,
  .english-learning-section img {
    max-width: 387px;
  }
  .corporate-carousel img {
    max-width: 400px;
  }
  .img-shadow-black:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
@media (max-width: 991px) {
  section {
    margin: 3.8rem 0;
  }
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: block;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    flex-direction: column;
    display: flex;
    background-color: #E9222B;
    margin-top: 0;
    display: none;
  }
  nav img {
    filter: brightness(0) invert(1);
  }
  nav .container {
    flex-direction: column;
  }
  nav .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li a {
    font-size: 21px;
    font-family: "avenirblack";
    color: #ffffff;
  }
  .personality-program-section {
    padding-top: 0;
  }
  .personality-program-section .flex-2-set {
    flex-direction: column-reverse;
  }
  .personality-program-section .container {
    flex-direction: column;
  }
  .english-learning-section .flex-2-set {
    flex-direction: column;
  }
  .program-categories-section .program-description-container {
    padding: 0;
  }
  .program-categories-section .program-tab-container {
    padding: 0 2rem;
  }
  .program-categories-section .flex-2-set {
    flex-direction: column;
  }
  .aside-tab-menu {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .customized-program-list {
    margin-left: 0;
    margin-right: 0;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .book-appointment-section .jrp-contact-form {
    flex-direction: column;
  }
  .customized-program-list figcaption {
    padding: 1.25rem;
    position: relative;
    height: auto;
  }
  .customized-program-list figcaption::before, .customized-program-list figcaption::after {
    display: none;
  }
  .customized-program-list figcaption .description-workshop {
    position: relative;
    transform: none;
    opacity: 1;
  }
  .customized-program-list figcaption .description-workshop p {
    color: #424040;
  }
  .customized-program-list img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    height: 220px;
    width: 100%;
  }
  .customized-program-list figure {
    background: #e6e6e6;
    border-radius: 6px;
  }
  .customized-program-list figure:hover figcaption {
    color: #424040;
    height: auto;
  }
  .customized-program-list figure:hover img {
    transform: scale(1);
  }
  .heading br {
    display: none;
  }
  .img-shadow-black img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translateX(18px);
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .heading-border-left {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 768px) {
  .aside-tab-menu {
    padding: 1.45rem;
  }
  .aside-tab-menu .tab-menu-list {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .aside-tab-menu .tab-menu button {
    padding: 1rem 1.45rem;
    border-radius: 4px;
    height: auto;
  }
  .aside-tab-menu .tab-menu button.active {
    background-color: #E9222B;
  }
  .aside-tab-menu .tab-menu button.active::after {
    display: none;
  }
  .aside-tab-menu .tab-menu button h5 {
    font-size: 1rem;
  }
  .customized-program-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .customized-program-list img {
    height: 250px;
  }
  .two-col-wrap {
    flex-direction: column;
  }
  .cta-inquire-button {
    text-align: center !important;
  }
  .customer-slider {
    display: none;
  }
  .img-shadow-red,
  .img-shadow-black,
  .personality-program-section {
    margin: auto;
  }
  .book-appointment-section .flex-2-set {
    flex-direction: column;
    gap: 0;
  }
  .input-field {
    width: 100%;
  }
  .book-appointment-section .jrp-contact-form {
    padding: 1.75rem;
  }
  .book-appointment-section .jrp-social-media {
    max-width: none;
    padding-left: 0;
    margin-left: 0;
    padding-top: 1.35rem;
    border-top: 1px solid #e1e1e1;
    margin-top: 1.35rem;
  }
  .book-appointment-section .btn {
    width: 100%;
    margin-bottom: 0.45rem;
  }
  footer {
    text-align: center;
  }
  footer .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .social-media-footer {
    margin-bottom: 1.5rem !important;
  }
  footer img.logo {
    margin: auto;
  }
  footer ul li {
    justify-content: center;
    text-align: center;
  }
  footer .footer-container h5 {
    color: #E9222B;
  }
  footer .footer-container .col-1:nth-child(3) .footer-link {
    margin-top: 2rem;
  }
  footer .footer-container .col-1 .mt-3 {
    margin-top: 1rem !important;
  }
  .english-learning-section .heading-border-left {
    margin-bottom: 1.65rem;
  }
}
@media (max-width: 599px) {
  h3 {
    font-size: 1.338rem;
  }
  .aside-tab-menu .tab-menu button {
    padding: 0.55rem 1rem;
  }
  #personality-program-slider,
  .english-learning-section {
    max-width: 100%;
  }
  #personality-program-slider img,
  .english-learning-section img {
    max-width: 100%;
  }
}/*# sourceMappingURL=main.css.map */