@import './fonts.css';
@import './_mixins.scss';

$base-color: #424040;
$white-color: #ffffff;
$text-red: #E9222B;
$hover-red: #d31720;
$text-heavy: 'avenirheavy';
$text-regular: 'avenirbook';
$text-black: 'avenirblack';
$text-normal: 'avenir_regularregular';
$gray-color: #F2F2F2;

body {
  font-family: 'avenirbook';
  background-color: $white-color;
  color: $base-color;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p {
  margin: 0 0 15px;
  &:last-child {
    margin-bottom: 0;
  }
  font-size: 1rem;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
h2 {
  font-size: 3.77vw;
  @include font-black;
  line-height: 4.52vw;
  text-transform: uppercase;
}
h3 {
  font-size: 1.938rem;
  @include font-heavy;
  line-height: 2.2rem;
  color: $text-red;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1.313rem;
  margin-bottom: 1rem;
  @include font-heavy;
}
h4 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  line-height: 1.22em;
  @include font-black;
}

a { color: $base-color; }

.btn {
  display: inline-flex;
  text-decoration: none;
  background-color: $text-red;
  line-height: 1em;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.65rem;
  color: #ffffff;
  border-radius: 30px;
  font-family: $text-regular;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
  @include transition;
  &:hover {
    background-color: $hover-red;
    @include box-shadow;
  }
}

.uppercase {
  text-transform: uppercase;
}

.base-color {
  color: $base-color;
}

.font-heavy {
  font-family: 'avenirblack';
}

.font-normal {
  font-family: 'avenirbook';
}

.highlight {
  color: $text-red;
  @include font-heavy;
}
.container {
  @include flex-row;
  width: 100%;
  padding: 0 60px;
  margin: auto;
}

.flex-column {
  flex-direction: column !important;
}

.items-center {
  align-items: center
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

strong {
  font-family: $text-black;
}
.pl-0 {
  padding-left: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-4 {
  margin-top: 4rem !important;
}
.w-full {
  width: 100% !important;
}

#app {
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%
}

nav {
  @include flex-row;
  margin-top: 30px;
  .logo {
    img {
      max-width: 315px;
    }
  }
  ul {
    @include reset-list;
    display: flex;
    gap: 1.45rem;
    align-items: center;
    li {
      &.active {
        a {
          color: $text-red;
          font-family: $text-black;
        }
      }
      a {
        text-decoration: none;
        padding: .25rem;
        display: block;
        &:hover {
          color: $text-red;
          @include transition;
        }
      }
      &:last-child {
        a {
          background-color: $text-red;
          color: $white-color;
          padding: 0.625rem 1.15rem;
          border-radius: 30px;
          @include transition;
          &:hover {
            background-color: $hover-red;
            @include box-shadow;
          }
        }
      }
    }
  }
}

.heading {
  position: relative;
}
.heading-border-left {
  margin-bottom: 3rem;
  padding: 5px 0 0 30px;
  &::before {
    position: absolute;
    top: 4px;
    left: 0;
    content: "";
    width: 8px;
    height: 4vw;
    background-color: $text-red;
  }
}
.heading-border-bottom {
  padding-bottom: 1.15rem;
  margin-bottom: 3rem;
  &::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: "";
    width: 65px;
    height: 8px;
    background-color: $text-red;
  }
}

ul {
  padding: 1rem;
}

section {
  position: relative;
  margin: 5.625rem 0;
  ul {
    @include font-heavy;
    margin-bottom: 1rem;
    li {
      line-height: 1.78rem;
    }
  }
}

.flex-2-set {
  @include flex-row;
  gap: 4rem;
  align-items: flex-start;
  width: 100%;
  &.gap-0 {
    gap: 0;
  }
}
.description {
  flex: 1;
}

.personality-program-section {
  padding-top: 1.75rem;
}
.our-clients-container {
  padding-top: 3rem;
}
.glide__arrow {
  color: #ffffff;
  cursor: pointer !important;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.glide {
  img {
    cursor: default !important;
    width: 100%;
  }
}
.slick-slider {
  .slick-dots {
    bottom: 40px;
  }
}
.slick-dots li button:before {
  font-size: 18px;
  color: $white-color;
  opacity: .45 !important;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: $text-red;
  opacity: .75 !important;
}
.img-shadow-red,
.img-shadow-black {
  position: relative;
  &:after {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -4%;
    height: 109%;
    background-color: $text-red;
    width: 88%;
    z-index: -1;
    border-radius: 10px;
  }
  img {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 20%);
  }
}
.img-shadow-black {
  &:after {
    background-color: $base-color;
    right: auto;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
#personality-program-slider {
  overflow: hidden;
  width: 100%; /* Adjust as needed */
  position: relative;

  img {
    position: relative;
    display: none;
    max-width: 547px;
    &:first-child {
      display: block;
    }
  }
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}

.tab-menu {
  display: flex;
  button {
    cursor: pointer;
  }
}

.program-categories-section {
  background-color: $gray-color;
  z-index: 1;
  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: $white-color;
    z-index: -1;
  }
  .program-description-container {
    flex: 1;
    padding: 2.5rem 0 1.5rem 0;
  }
  .program-desc-wrapper {
    box-shadow: 0 4px 10px 1px rgba(32, 32, 32, 0.20);
    background-color: $white-color;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 2.3rem;
    overflow: hidden;
  }
  .program-tab-container {
    padding: 0 1.25rem 0 4rem;
  }
}
.cta-inquire-button {
  margin-bottom: 2.5rem;
  padding-right: 2rem;
}
.aside-tab-menu {
  background-color: $base-color;
  height: 100%;
  border-radius: 10px;
  padding: 2rem;
  width: 340px;
  h3 {
    color: $white-color;
    border-bottom: 1px solid $white-color;
    margin-bottom: 1.35rem;
    padding-bottom: 1rem;
  }
  .tab-menu button {
    border: none;
    background-color: transparent;
    outline: none;
    text-align: left;
    color: $white-color;
    padding: 0 1.45rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 68px;
    align-items: center;
    position: relative;
    z-index: 1;
    &.active {
      &::after {
        position: absolute;
        display: block;
        content: "";
        width: calc(100% + 57px);
        height: 100%;
        top: 0;
        left: 0;
        background-color: $text-red;
        z-index: -1;
        @include box-shadow;
        border-radius: 4px;
      }
      h5 {
        font-family: $text-heavy;
      }
    }
    h5 {
      margin: 0;
      font-family: $text-regular;
    }
  }
  .tab-menu-list {
    display: flex;
    flex-direction: column;
  }
}

.two-col-wrap {
  @include flex-row;
}

.customer-slider {
  width: 100%;
  overflow: hidden;
  position: relative;

  .slider-list {
    display: flex;
    transition: transform 0.5s ease;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .slider-item {
    flex: 1 0 33.3333%; /* 100% / 3 images */
    overflow: hidden;
  }
  
  .slider-item img {
    width: 100%;
    display: block;
    @include transition;
    &:hover {
      opacity: 0.75;
      transform: scale(1.1);
    }
  }
}

.english-learning-section {
  padding-top: 120px;
  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: #f2f2f2;
    z-index: -1;
  }
}
.corporate-carousel {
  img {
    border-radius: 10px;
  }
}

.client-logos-wrapper {
  position: relative;
  display: block;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem 1rem;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ededed;
      min-width: 223px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 10px;
      img {
        max-width: 180px;
      }
    }
  }
}
.z-1 {
  z-index: 1;
}
.customized-workshops-section {
  background-color: #F2F2F2;
  padding-top: 5.625rem;
}
.english-learning-desc {
  position: relative;
  &::before {
    position: absolute;
    z-index: -1;
    background-color: #ffffff;
    top: -20px;
    left: -50%;
    width: 200%;
    height: 100%;
    content: "";
  }
}
.customized-program-list {
  margin-left: -60px;
  margin-right: -60px;
  display: flex;
}
.customized-program-list {
  figure {
    position: relative;
    overflow: hidden;
    &:hover {
      figcaption {
        color: $white-color;
        height: 100%;
        .description-workshop {
          transform: translateY(0);
          opacity: 1;
        }
        &::after {
          transform: scale(1);
          opacity: 1;
        }
        &::before {
          width: 0;
        }
      }
      img {
        transform: scale(1.1);
      }
    }
  }
  img {
    @include transition;
  }
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 141px;
    color: #424040;
    padding: 1.75rem;
    z-index: 1;
    overflow: hidden;
    transition: all ease-in-out 400ms;
    &::after {
      background-color: rgba(233, 34, 43, 0.75);
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transform: scale(0.2);
      transform-origin: left bottom;
      transition: all linear 400ms;
      opacity: 0;
    }
    &::before {
      background-color: rgb(255 255 255 / 65%);
      position: absolute;
      display: block;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 141px;
      z-index: -1;
      transition: all linear 300ms;
    }
    h4 {font-family: "avenirblack";}

    .description-workshop {
      position: absolute;
      padding-right: 1rem;
      transform: translateY(30%);
      @include transition;
      opacity: 0;
      transition-delay: 150ms;
      p {
        color: $white-color;
      }
    }
  }
  .btn {
    border: 1px solid $white-color;
  }  
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  input[type="radio"] {
    display: none;

    & + label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      color: $text-red;
      font-weight: normal;
    }

    & + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 23px;
      height: 23px;
      border: 4px solid $text-red;
      border-radius: 50%;
      background: white;
    }

    &:checked + label:before {
      background: $text-red;
    }

    &:checked + label {
      font-weight: bold;
      text-decoration: underline;
    }

    &:checked + label:after {
      content: "";
      position: absolute;
      left: 7.5px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
  }

  label {
    margin-right: 25px;
  }
}

.input-field {
  flex: 1;
  margin-bottom: 1.3rem;
  input, select, textarea {
    width: 100%;
    padding: 10px 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    font-size: 16px;
    font-family: $text-normal;
    height: 48px;
  }
  input::placeholder, select, textarea::placeholder {
    color: #666;
  }
  textarea {
    resize: vertical;
    min-height: 170px;
  }
}
.book-appointment-section {
  padding: 90px 0;
  background-color: $text-red;
  .flex-2-set {
    gap: 1rem;
  }
  .jrp-contact-form {
    background-color: $white-color;
    border-radius: 10px;
    padding: 3.2rem;
    box-shadow: 0 3px 25px rgba(0, 0, 0, .2);
    display: flex;
    overflow: hidden;
    position: relative;
  }
  .jrp-form-wrapper {
    flex: 1;
    h2 {
      font-size: 42px;
      text-transform: none;
    }
  }
  .jrp-social-media {
    width: 100%;
    max-width: 350px;
    padding-left: 20px;
    margin-left: 20px;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: .75rem;
    }
    ul.social-media {
      li {
        padding-bottom: .75rem;
        border-bottom: 1px solid $gray-color;
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: .55rem;
          font-family: $text-black;
          font-size: 1rem;
          text-decoration: none;
        }
      }
    }
  }
}
#contact-us-section {
  background-color: $white-color;
  margin-top: 0;
  padding-top: 70px;
  .text-right {
    text-align: center;
  }
}
.gallery {
  margin: 0 auto;
  width: 100%;
  display: flex;
  .tab-menu-container {
    flex: 1;
    max-height: 630px;
    overflow-y: auto;
  }
}
.masonry-grid {
  display: flex;
  flex-wrap: wrap;
}
.grid-item {
  width: calc(33.333% - 10px);
  margin: 5px;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
    cursor: pointer;
    @include transition;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.tab-content {
  display: none;
  &.active-tab {
    display: block;
  }
}
.workshop-menu-list {
  list-style: none;
  padding: 0;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding-top: .75rem;
  li {
    display: block;
    a {
      text-decoration: none;
      font-size: 18px;
      display: block;
      font-family: $text-normal;
      &.active-nav {
        color: $text-red;
        font-family: $text-black;
      }
    }
  }
}


.testimonial-carousel-section {
  background-color: $gray-color;
  padding: 90px 0;
  ul.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: .75rem;
    margin-top: 25px;
    .slick-active {
      button {
        background-color: #b5b5b5;
      }
    }
    button {
      padding: 0;
      border: none;
      font-size: 0;
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 30px;
      background-color: #dfdfdf;
      cursor: pointer;
    }
  }
  .container {
    display: block;
  }
  .testimonial-content {
    background-color: $white-color;
    padding: 3rem;
    margin: 0 1rem;
    border-radius: 10px;
    h3 {
      font-family: $text-black;
      color: $base-color;
      line-height: 2.35rem;
    }
    h5 {
      margin-bottom: 0;
      font-family: $text-regular;
    }
    .testimonial-detail {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      gap: 1rem;
    }
  }
}
.cta-testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem;
  background-color: $text-red;
  border-radius: 8px;
  color: $white-color;
  width: 76%;
  margin: auto;
  margin-top: 6.5rem;
  h3 {
    line-height: 3.5rem;
    color: $white-color;
    font-family: $text-black;
    margin-bottom: 0;
  }
  .btn {
    border: 1px solid $white-color;
    background-color: $hover-red;
  }
}
.h2-reset {
  font-size: 42px;
  text-transform: none;
}
#jrp-contact-branches {
  background-color: $text-red;
  color: $white-color;
  position: relative;
  z-index: 1;
  margin-left: 40px;
  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 120%;
    height: 130%;
    top: -20%;
    left: 0;
    background-color: $text-red;
    z-index: -1;
  }
  h3 {
    color: $white-color;
    border-bottom: 1px solid $white-color;
    padding-bottom: .45rem;
  }
  h5 {
    padding-top: 1rem;
    margin-bottom: .765rem;
  }
}

.branches {
  gap: .85rem;
  li, a {
    display: flex;
    flex-direction: row;
    align-items: start;
    line-height: 1.3em;
    gap: .49rem;
    @include transition;
    &:hover {
      opacity: 0.85;
    }
  }
  a {
    color: $white-color;
    text-decoration: none;
  }
}


.contact-us-hero-banner {
  padding-top: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  // .large-card {
  //   grid-column: 1 / 2;
  //   grid-row: 1 / 4;
  // }
  .card {
    background: $white-color;
    border-radius: 8px;
    border: 1px solid #E1E4ED;
    box-shadow: 0px 4px 6px rgba(70, 70, 70, 0.1);
    overflow: hidden;
    display: flex;
    text-decoration: none;
    @include transition;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      flex-direction: column;
      .news-description {
        flex: 1;
        padding: 1rem 1.2rem;
        h5 {
          margin-bottom: .45rem;
          font-family: $text-black;
        }
      }
    }
    &:hover {
      color: $text-red;
    }
    &:not(:first-child) {
      .news-photo {
        max-width: 285px;
      }
      .news-description {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        div {
          margin-top: auto;
          margin-bottom: auto;
          p {
            margin-bottom: 0;
            font-family: $text-black;
          }
          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.news-subheading {
  width: 80%;
  margin-bottom: 2.5rem;
}

#single-news-details {
  #press-and-events-details {
    padding-right: 2rem;
    max-width: 330px;
  }
}

.card-press-and-events-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  .card-press-and-events-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(70, 70, 70, 0.1);
    text-decoration: none;
    @include transition;
    &:hover {
      transform: translateY(-8px);
    }
  }
  .press-and-events-desc {
    padding: 1rem 1.5rem;
    height: 100%;
    background: $white-color;
    p {
      font-family: $text-heavy;
      margin-bottom: .75rem;
    }
  }
}

:root {
  --column-count: 12;
  --gutter-cap: 64px;
  --gutter-x: 32px;
  --gutter-y: 32px;

  --spacer-micro: 12px;
  --spacer-small: 24px;
  --spacer-medium: 48px;
  --spacer-large: 96px;
  --spacer-huge: 192px;
}

.meet-the-ceo-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.meet-the-ceo-details,
.meet-the-ceo-profile {
  width: calc(50% - var(--gutter-x)* .5);
  aspect-ratio: 1 / 1;
  position: relative;
}
.meet-the-ceo-profile {
  img {
    margin: auto;
    display: block;
    height: auto;
    max-height: calc(100% - var(--spacer-medium)* 1);
    max-width: calc(100% - var(--spacer-medium)* 1);
    position: relative;
    width: auto;
  }
}
.ceo-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  h5 {
    margin-bottom: 0;
    font-family: $text-black;
  }
  span {
    font-style: italic;
  }
}
.message-from-the-ceo-details,
.message-from-the-ceo-map {
  width: calc(50% - var(--gutter-x)* .5);
  aspect-ratio: 1 / 1;
  position: relative;
}
.message-from-the-ceo-section {
  background-color: $text-red;
  .flex-2-set {
    gap: 2rem;
  }
}
.message-from-the-ceo-details {
  width: calc(50% - var(--gutter-x)* .5);
  background-color: $white-color;
  padding: 3.5rem 2.5rem;
  p {
    font-style: italic;
  }
  .heading-border-left {
    margin-bottom: 1.45rem;
    padding: 5px 0 0 25px;
    &::before {
      height: 2.56vw;
    }
  }
  h2 {
    font-size: 2.27vw;
    line-height: 2.52vw;
  }
}
.message-from-the-ceo-map {
  img {
    margin: auto;
    display: block;
    height: auto;
    left: 50%;
    max-height: calc(100% - var(--spacer-medium)* 1);
    max-width: calc(100% - var(--spacer-medium)* 1);
    position: absolute;
    top: 59%;
    transform: translate(-50%, -50%);
    width: auto;
  }
  h3 {
    color: $white-color;
    font-family: $text-black;
    text-align: center;
    margin-top: 3.5rem;
  }
}

footer {
  background-color: $base-color;
  color: $white-color;
  a {
    color: $white-color;
    text-decoration: none;
  }
  .footer-container {
    gap: 1rem;
    padding: 4.5rem 1.75rem;
    display: flex;
    justify-content: space-between;
    
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      &:not(.social-media-footer) {
        
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
.branch-list-footer {
  strong {
    display: block;
    margin-bottom: 1rem;
  }
}
.social-media-footer {
  justify-content: center;
  gap: 1rem;
  img {
    max-width: 35px;
  }
}
.is-desktop {
  display: block;
}
.is-mobile {
  display: none;
}

// 1200px
@include for-desktop-up {    
  nav .logo img {
    max-width: 235px;
  }
  .container {
    padding: 0 30px !important;
  }
  #personality-program-slider,
  .english-learning-section {
    img {
      max-width: 387px;
    }
  }
  .corporate-carousel {
    img {
      max-width: 400px;
    }
  }
  .img-shadow-black:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

// 991px
@include for-big-tablet-up {
  section {
    margin: 3.8rem 0;
  }
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: block;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    flex-direction: column;
    display: flex;
    background-color: $text-red;
    margin-top: 0;
    display: none;
    img {
      filter: brightness(0) invert(1);
    }
    .container {
      flex-direction: column;
    }
    .logo {
      position: absolute;
      top: 30px;
      left: 30px;
    }
    ul {
      flex-direction: column;
      li {
        a {
          font-size: 21px;
          font-family: $text-black;
          color: $white-color;
        }
      }
    }
  }
  .personality-program-section {
    padding-top: 0;
    .flex-2-set {
      flex-direction: column-reverse;
    }
    .container {
      flex-direction: column;
    }
  }
  .english-learning-section {
    .flex-2-set {
      flex-direction: column;
    }
  }
  .program-categories-section {
    .program-description-container {
      padding: 0;
    }
    .program-tab-container {
      padding: 0 2rem;
    }
    .flex-2-set {
      flex-direction: column;
    }
  }
  .aside-tab-menu {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .customized-program-list {
    margin-left: 0;
    margin-right: 0;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .book-appointment-section {
    .jrp-contact-form {
      flex-direction: column;
    }
  }
  .customized-program-list {
    figcaption {
      padding: 1.25rem;
      position: relative;
      height: auto;
      &::before,
      &::after  {
        display: none;
      }
      .description-workshop {
        position: relative;
        transform: none;
        opacity: 1;
        p {
          color: $base-color;
        }
      }
    }
    img {
      object-fit: cover;
      object-position: top;
      height: 220px;
      width: 100%;
    }
    figure {
      background: #e6e6e6;
      border-radius: 6px;
      &:hover {
        figcaption {
          color: $base-color;
          height: auto;
        }
        img {
          transform: scale(1);
        }
      }
    }
  }
  .heading {
    br {
      display: none;
    }
  }
  .img-shadow-black img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translateX(18px);
  }
  footer {
    .footer-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .heading-border-left {
    margin-bottom: 2.5rem;
  }
}

// tablet
@include for-tablet-portrait-up {
  .aside-tab-menu {
    padding: 1.45rem;
    .tab-menu-list {
      display: grid;
      gap: .5rem;
      grid-template-columns: repeat(1, 1fr);
    }
    .tab-menu {
      button {
        padding: 1rem 1.45rem;
        border-radius: 4px;
        height: auto;
        &.active {
          background-color: $text-red;
          &::after {
            display: none;
          }
        }
        h5 {
          font-size: 1rem;
        }
      }
    }
  }
  .customized-program-list {
    grid-template-columns: repeat(1, 1fr);
    img {
      height: 250px;
    }
  }
  .two-col-wrap {
    flex-direction: column;
  }
  .cta-inquire-button {
    text-align: center !important;
  }
  .customer-slider {
    display: none;
  }
  .img-shadow-red, 
  .img-shadow-black,
  .personality-program-section {
    margin: auto;
  }
  .book-appointment-section {
    .flex-2-set {
      flex-direction: column;
      gap: 0;
    }
  }
  .input-field {
    width: 100%;
  }
  .book-appointment-section {
    .jrp-contact-form {
      padding: 1.75rem;
    }
    .jrp-social-media {
      max-width: none;
      padding-left: 0;
      margin-left: 0;
      padding-top: 1.35rem;
      border-top: 1px solid #e1e1e1;
      margin-top: 1.35rem;
    }
    .btn {
      width: 100%;
      margin-bottom: .45rem;
    }
  }
  footer {
    text-align: center;
    .footer-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .social-media-footer {
      margin-bottom: 1.5rem !important;
    }
    img.logo {
      margin: auto;
    }
    ul {
      li {
        justify-content: center;
        text-align: center;
      }
    }
    .footer-container {
      h5 {
        color: $text-red;
      }
      .col-1 {
        &:nth-child(3) {
          .footer-link {
            margin-top: 2rem;
          }
        }
        .mt-3 {
          margin-top: 1rem !important;
        }
      }
      
    }
  }
  .english-learning-section {
    .heading-border-left {
      margin-bottom: 1.65rem;
    }
  }
  .english-learning-section {
    padding-top: 50px;
  }
  
}

// small device
@include for-phone-only {
  h3 {
    font-size: 1.338rem;}
  .aside-tab-menu .tab-menu button {
    padding: .55rem 1rem;
  }
  #personality-program-slider, 
  .english-learning-section {
    max-width: 100%;
  }
  #personality-program-slider img, 
  .english-learning-section img {
    max-width: 100%;
  }
  #personality-program-slider {
    padding-right: 20px;
  }
  .container {
    padding: 0 20px !important;
  }
  .img-shadow-red:after {
    right: 0;
  }
  h2 {
    font-size: 23px;
    line-height: 1.34em;
  }
  .heading-border-left {
    padding-top: 0;
    padding-left: 1.35rem;
  }
  .aside-tab-menu {
    padding: 0;
    padding-bottom: 1rem;
    .tab-menu-list {
      gap: 0;
    }
    h3 {
      padding: 1rem;
      font-size: 18px;
    }
  }
  .program-categories-section {
    .program-tab-container {
      padding: 0 1rem;
    }
    .program-desc-wrapper {
      padding-top: 1.65rem;
      border-radius: 10px;
    }
  }
  .corporate-carousel img {
    max-width: 400px;
    width: 100%;
  }
  .book-appointment-section .jrp-contact-form {
    padding: 1.75rem 1.25rem;
  }
  .img-shadow-black {
    padding-right: 20px;
  }
}